* {
	font-family: "微软雅黑","宋体",Arial Narrow,Arial,serif;
	font-size: 14px;
	word-break: break-all;
	color:#FFFFFF;
}
body {
	padding: 0;
	margin: 0;
}
a{ text-decoration: none; color:#FFFFFF; }
a:hover { text-decoration: underline; }
a:visited{ color:#FFFFFF;; }

p{padding:0px; margin:0px;}

/*背景*/
.cw_header {
	height: 66px;
	background: url(../images/top_bj.gif) repeat-x 0 0;
	float: left;
	width: 100%;
	position: relative;
}

/*logo*/
.cw_logo{ float:left; }

/*顶端右部*/
.right_top { float: right; height: 30px; line-height:30px; }
.right_top span { float:left; margin-right:10px; }
.right_top a { float:left; text-decoration: none; margin-right:10px; }

/*导航*/
.cw_navs{float:left; margin:34px 0 0 55px;}
.cw_navs div{float:left; height:26px; padding:0 0 0 18px; overflow:hidden; }
.cw_navs p{float:left; height:26px; padding:0 18px 0 0; }
.cw_navs a{float:left; display:block; line-height:28px; font-size:15px; font-weight:bold; font-family:"微软雅黑", "黑体", "宋体", Arial; color:#fff; }
.cw_navs a:hover{text-decoration:none; color:#fff; }

/*导航点击样式改变*/
.active { background: url(../images/top_b11.gif) no-repeat 0 0; }
.active p { background: url(../images/top_b11.gif) no-repeat right -26px; }